# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env
# testing
/coverage
diff --git a/c:\Users\samru\OneDrive\Documents\doctor_appointment\.gitignore b/c:\Users\samru\OneDrive\Documents\doctor_appointment\.gitignore
new file mode 100644
--- /dev/null
+++ b/c:\Users\samru\OneDrive\Documents\doctor_appointment\.gitignore
@@ -0,0 +1,4 @@
.env
*.env
**/.env
**/.env.*

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
